h1, h2, .error-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-button{
     margin-bottom: 40rem;
}


/* MOBIL */
@media (max-width: 768px) {
  .error-container {
    padding: 1rem;
  }

  .error-title {
    font-size: 5rem;
  }

  .error-subtitle {
    font-size: 1.5rem;
  }

  .error-text {
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  .error-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}