.about-container {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
}

.about-title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-image-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-image {
  width: 40%;
  height: auto;
  border-radius: 50px;
}

.about-content {
  font-size: 1.25rem;
  line-height: 1.9;
  color: #555;
  padding: 3rem;
  border-radius: 8px;
  margin-bottom: 3rem;
}

.about-skills {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.skill-card {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  background-color: black;
}

.skill-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.skill-card p {
  color: #e4e4e4;
  margin: 0;
}