/* Footer */
.footer {
  background: rgb(0, 0, 0);
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer p {
  margin: 0.5rem 0;
  color: #cacaca;
  font-size: 0.9rem;
}