.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.home-video-wrapper {
  width: 100%;
  max-width: 1600px;
  margin-bottom: 3rem;
  overflow: hidden;
}

.home-video {
  width: 100%;
  height: auto;
  display: block;
   border-radius: 8px;
}

.home-video-wrapper p {
  margin-top: 1rem;
}

.home-content {
  text-align: center;
  max-width: 1100px;
  padding: 2rem;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.home-text {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.home-cta-button {
  display: inline-block;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

/* MOBIL */
@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  .home-video-wrapper {
    margin-bottom: 2rem;
  }

  .home-content {
    padding: 1rem;
  }

  .home-title {
    font-size: 2rem;  /* Mindre rubrik på mobil */
  }

  .home-text {
    font-size: 1.1rem;  /* Mindre text på mobil */
    margin-bottom: 2rem;
  }

  .home-cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}