.portfolio-item-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.portfolio-back-link {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: black;
}

.portfolio-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.portfolio-category-badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  background: rgb(234, 234, 234);
}

.category-visualization {
  background: #e3f2fd;
  color: #1976d2;
}

.category-frontend {
  background: #f3e5f5;
  color: #7b1fa2;
}

.category-vr {
  background: #fff3e0;
  color: #e65100;
}

.portfolio-media-wrapper {
  margin-bottom: 2rem;
  overflow: hidden;
}

.portfolio-video {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  color: #555;
}

.portfolio-description h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.portfolio-gallery {
  margin-top: 4rem;
}

.portfolio-gallery-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #333;
}

.portfolio-gallery-grid {
  display: flex;
  gap: 1.5rem;
}

.portfolio-gallery-item {
  overflow: hidden;
  height: 100%;
  width: 100%
}


/* MOBIL */
@media (max-width: 768px) {
  .portfolio-item-container {
    padding: 1rem;
  }

  .portfolio-back-link {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .portfolio-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .portfolio-category-badge {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .portfolio-description {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .portfolio-description h2 {
    font-size: 1.5rem;
  }

  .portfolio-gallery-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .portfolio-gallery-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}